html{
  --a:20px;
  /* css自带的定义变量 --变量名 */
}
.font{
  font-size: var(--a);
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-variant:small-caps;
  letter-spacing:10px;
  word-spacing:10px;
  text-decoration:underline;
  list-style: none;
  text-align: center;
  line-height: var(--a);
}

.a:link{
  color: red;
}
.a:visited{
  color: yellow;
}
.a:hover{
  font-size: 20px;
  color: black;
}
.a:active{
  font-size: 30px;
  color: violet;
}