body{
    min-width: 1226px;
    background-color: #fff;
    color: #333;
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
.w{
    margin: 0 auto;
}
