* {
  margin: 0;
  padding: 0; }

.container {
  margin: 0;
  display: flex;
  flex-direction: column; }

li {
  list-style: none; }

.city {
  width: 450rpx;
  display: inline-block; }

.search {
  width: 450rpx;
  background-color: red; }

.header_content {
  width: 750rpx;
  white-space: nowrap; }

.demo1 {
  width: 1500rpx;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 11px; }
  .demo1 .vi {
    box-sizing: border-box;
    padding: 20rpx;
    width: 150rpx;
    text-align: center; }
  .demo1 .imge {
    width: 100rpx;
    height: 100rpx; }

.di {
  display: block; }

.center {
  text-align: center;
  font-size: 24px; }

.content_header {
  display: flex;
  flex-direction: row;
  margin: 10rpx 0;
  border: 1px solid block; }
  .content_header .cont_zh,
  .content_header .cont_xl,
  .content_header .cont_jl,
  .content_header .cont_sx {
    list-style: none;
    font-size: 0.8rem;
    background-color: #FFFFFF;
    width: 187.5rpx;
    text-align: center; }
    .content_header .cont_zh text,
    .content_header .cont_xl text,
    .content_header .cont_jl text,
    .content_header .cont_sx text {
      margin: 0 auto; }

.zonghe {
  width: 750rpx;
  font-size: 1rem;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF; }
  .zonghe ul {
    margin: 0 33rpx;
    text-align: left; }
    .zonghe ul li {
      margin: 20rpx 0; }

.del {
  text-decoration: line-through; }

.conten_con .conten_conv1_img {
  width: 200rpx;
  height: 200rpx; }

.conten_con .conten_content .conten_conv1 {
  width: 250rpx; }

.conten_con .conten_content .conten_conv2 {
  width: 450rpx; }

.flexrow, .conten_con .conten_content {
  display: flex;
  flex-direction: row; }

.flexcol, .conten_con {
  display: flex;
  flex-direction: column; }

.gouwu {
  display: flex;
  flex-direction: column; }
  .gouwu .gouwuche {
    display: flex;
    flex-direction: column; }
    .gouwu .gouwuche .di {
      display: flex;
      height: 15vh;
      padding: 20rpx 0px; }
    .gouwu .gouwuche .han2 {
      display: flex;
      flex-direction: column; }
    .gouwu .gouwuche .han2_1 {
      width: 550rpx;
      display: flex;
      flex-direction: row;
      flex-grow: 2;
      margin-bottom: -1px; }
    .gouwu .gouwuche .han2_1_1 {
      width: 400rpx;
      display: flex;
      flex-direction: column; }
      .gouwu .gouwuche .han2_1_1 view {
        height: 5vh; }
    .gouwu .gouwuche .han2_1_2 {
      width: 150rpx;
      display: flex;
      flex-direction: column-reverse; }
    .gouwu .gouwuche .icon view {
      display: inline;
      vertical-align: middle; }
    .gouwu .gouwuche image {
      width: 100rpx;
      height: 100rpx;
      padding: 30rpx; }

.han2_2 {
  height: 1px;
  background-color: red; }

.ding {
  box-sizing: border-box;
  position: absolute;
  padding: 50% 50rpx;
  width: 750rpx;
  height: 100vh;
  top: 0;
  margin: auto;
  backdrop-filter: blur(20px) brightness(100%);
  z-index: 1000; }
  .ding .guige {
    width: 650rpx;
    display: flex;
    align-items: center;
    justify-content: center; }
  .ding .dingdan {
    width: 550rpx;
    padding: 50rpx;
    filter: drop-shadow(8px 8px 10px green);
    background-color: #ffaa00; }
  .ding .d_scroll {
    height: 400rpx; }
  .ding .d_header {
    text-align: center;
    font-size: 16px;
    color: #2f2f2f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    font-family: "PingFangSC-Medium", "Hiragino Sans GB", Arial, Helvetica, "\5B8B\4F53", sans-serif; }
  .ding button {
    width: 220rpx;
    margin: 15rpx;
    font-size: 14px;
    color: #FFB000;
    font-family: "PingFangSC-Medium", "Hiragino Sans GB", Arial, Helvetica, "\5B8B\4F53", sans-serif;
    background-color: #FFFBF1; }
  .ding .d_g2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5vh; }
