* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
  width: 300px;
  height: 300px;
}
input {
  outline: none;
}
